<ion-card>
  <ion-row class="flex-space-between">
    <ion-col size="2">
      <ion-button fill="clear" (click)="close()">Cancel</ion-button>
    </ion-col>
    <ion-col size="2">
      <ion-button fill="clear" [disabled]="!addEmployeeForm.valid" (click)="submit(addEmployeeForm)">
        {{ editing ? 'Save' : 'Submit'}}</ion-button>
    </ion-col>
  </ion-row>

  <ion-row class="text-row">
    <ion-col size="12">
      <p class="title center">{{title}}</p>
      <p class="description center">{{description}}</p>
    </ion-col>
  </ion-row>

  <form [formGroup]="addEmployeeForm">
    <ion-item lines="none" class="input-item">
      <ion-label>First Name</ion-label>
      <ion-input formControlName="firstName" type="text"></ion-input>
    </ion-item>

    <ion-item lines="none" class="input-item">
      <ion-label>Last Name</ion-label>
      <ion-input formControlName="lastName" type="text"></ion-input>
    </ion-item>

    <ion-item lines="none" class="input-item">
      <ion-label>Position</ion-label>
      <ion-input formControlName="position" type="text"></ion-input>
    </ion-item>

    <ion-item lines="none" class="input-item">
      <ion-label>Department</ion-label>
      <ion-select formControlName="department" interface="popover" placeholder="Please Select">
        <ion-select-option value="Marketing">Marketing</ion-select-option>
        <ion-select-option value="Commercial">Commercial</ion-select-option>
        <ion-select-option value="Development">Development</ion-select-option>
        <ion-select-option value="Design">Design</ion-select-option>
        <ion-select-option value="Project Management">Project Management</ion-select-option>
        <ion-select-option value="Management">Management</ion-select-option>
      </ion-select>
    </ion-item>

  </form>

  <ion-row *ngIf="editing">
    <ion-col size="12" class="flex-center">
      <ion-button fill="clear" color="danger" (click)="delete()">
        Delete Employee
      </ion-button>
    </ion-col>
  </ion-row>

</ion-card>