<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="addEmployee()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Employees
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-progress-bar type="indeterminate" *ngIf="loading"></ion-progress-bar>

  <div class="placeholder" *ngIf="employeeService.employeeList.length === 0">
    No employees, use the + icon to add a new employee.
  </div>

  <ion-row>
    <ion-col size="3" *ngFor="let employee of employeeService.employeeList">
      <ion-card>
        <div class="department-header" [ngStyle]="headerColour(employee.department)">
          {{employee.department}}
        </div>
        <ion-card-header>
          <ion-card-title>{{employee.firstName}} {{employee.lastName}}</ion-card-title>
          <ion-card-subtitle>{{employee.position}}</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>