<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="toggleEditing()">
        {{editing ? 'Cancel' : 'Edit'}}
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="addDevice()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Devices
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-progress-bar type="indeterminate" *ngIf="loading"></ion-progress-bar>

  <div class="edit-mode flex-center" @editingBanner *ngIf="editing">
    Editing mode is enabled, tap on a device to edit.
  </div>

  <div class="placeholder" *ngIf="devicesService.deviceList.length === 0">
    No devices added, use the + icon to add a new device.
  </div>

  <ion-row>
    <ion-col size="3" *ngFor="let device of devicesService.deviceList">
      <ion-card (click)="deviceClicked(device)">
        <ion-card-header class="custom-card-header">
          <ion-card-title class="custom-card-title">{{device.name}}</ion-card-title>
          <ion-badge color="primary" *ngIf="device.status === 'vacant'">Vacant</ion-badge>
          <ion-badge color="danger" *ngIf="device.status === 'occupied'">Occupied</ion-badge>
        </ion-card-header>
        <ion-card-content>
          <div class="custom-item">
            <p class="label">Occupant</p>
            <p>{{device.employee ? device.employee.firstName + ' ' + device.employee.lastName  : '-'}}</p>
          </div>
          <div class="custom-item">
            <p class="label">Date/Time</p>
            <p>{{device.checkedOut ? (device.checkedOut | date:'h:mm a, dd/MM/yy') : '-'}}</p>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>