// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

//Typography

.title {
  font-size: 32px;
  font-weight: 400;
  color: #000000;
}

.description {
  font-size: 17px;
  font-weight: 400;
  color: #000000;
}

.center {
  text-align: center;
}

//Global Styles

ion-content {
  --background: #edecf2;
}

ion-modal {
  --background: rgba(0, 0, 0, 0) !important;
}

ion-card {
  --background: #ffffff !important;
}

ion-badge {
  margin-bottom: 8px;
}

.placeholder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 17px;
  font-weight: 400;
  opacity: 0.4;
}

form {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 16px;
}

ion-label {
  font-weight: 600;
}

.input-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  ion-input {
    margin-left: 24px;
  }
}

.custom-card-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.custom-item {
  display: flex;
  justify-content: space-between;
  &:first-child {
    margin-bottom: 14px;
  }
  p {
    margin: 0;
    font-size: 16px;
  }
  .label {
    font-weight: 700;
  }
}
